@page "/"
<div class="jumbotron">
    <div class="card-deck mb-3">
        <div class="card">
            <img class="card-img-top" src="/images/img1.jpg" alt="Card image cap" height="400">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div> 
        <div class="card">
            <img class="card-img-top" src="/images/img2.jpg" alt="Card image cap" height="400">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div> 
        <div class="card">
            <img class="card-img-top" src="/images/img3.jpg" alt="Card image cap" height="400">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div> 
    </div>
    <div class="card-deck mb-3">
        <div class="card">
            <img class="card-img-top" src="/images/img1.jpg" alt="Card image cap" height="400">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div> 
        <div class="card">
            <img class="card-img-top" src="/images/img2.jpg" alt="Card image cap" height="400">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div> 
        <div class="card">
            <img class="card-img-top" src="/images/img3.jpg" alt="Card image cap" height="400">
            <div class="card-body">
                <h5 class="card-title"><em>@title_card</em></h5>
                <small class="text-muted">@content_card</small>
            </div>
            <footer class="blockquote-footer">
                <small>@author_card</small>
            </footer>
        </div> 
    </div>
</div>
    <div>
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center"> 
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
            </a> 
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li> <li class="page-item"><a class="page-link" href="#">2</a></li> <li class="page-item"><a class="page-link" href="#">3</a></li> <li class="page-item">
            <a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span>
            </a>
        </li> 
    </ul>
    </nav>
</div>
@code{
    public string title_card = "Paisaje";
    public string content_card = "Un paisaje verde";
    public string author_card = "Anónimo";
}